#cc.center
  = image_tag('/images/ccby.png')
  == Stylesheets based on Shapado.com project  content and data are available under the #{link_to 'Creative Commons Attribution 3.0 license', 'http://creativecommons.org/licenses/by/3.0/'}

#blog.center
  = link_to 'blog', 'http://blog.ricodigo.com/shapado'
  |
  = link_to 'twitter', 'http://twitter.com/shapado'
  |
  = link_to 'identi.ca', 'http://identi.ca/shapado'
  |
  = link_to 'irc', 'irc://irc.freenode.org/shapado'

#default_footer.center
  Copyright (c) 2011 hervalicio.us

